---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.svelte";

const posts = Object.values(import.meta.glob("./posts/*.mdx", { eager: true }));

function parseDate(dateString: string) {
  return new Date(dateString);
}
---

<MainLayout title="Blog | Pathfinder">
  <div class="grid md:grid-cols-3 gap-4">
    {
      posts
        .filter((post) => (post as any).frontmatter?.published !== false)
        .sort(
          (a, b) =>
            parseDate((b as any).frontmatter.date).getTime() -
            parseDate((a as any).frontmatter.date).getTime()
        )
        .map((post) => (
          <PostCard
            url={(post as any).url}
            title={(post as any).frontmatter.title}
            description={(post as any).frontmatter.description}
            date={(post as any).frontmatter.date}
            tags={(post as any).frontmatter.tags}
          />
        ))
    }
  </div>
</MainLayout>
