---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.svelte";
import PostCard from "../components/PostCard.svelte";
import ProjectCard from "../components/ProjectCard.svelte";
import { projects } from "../scripts/project";

const posts = Object.values(import.meta.glob("./posts/*.mdx", { eager: true }));

function parseDate(dateString: string) {
  return new Date(dateString);
}
---

<MainLayout title="Pathfinder">
  <Hero client:only="svelte">
    <div
      slot="fallback"
      class="text-4xl mt-10 text-center font-bold font-serif"
    >
      Loading...
    </div>
  </Hero>

  <h1 class="text-7xl mt-10 text-center font-bold font-serif bg-gradient-to-r from-indigo-400 via-sky-500 to-indigo-400 bg-clip-text text-transparent px-2">Posts</h1>
  <div class="grid md:grid-cols-3 gap-4 mt-9 ">
    {
      posts
        .filter((post) => (post as any).frontmatter?.published !== false)
        .sort(
          (a, b) =>
            parseDate((b as any).frontmatter.date).getTime() -
            parseDate((a as any).frontmatter.date).getTime()
        )
        .map((post) => (
          <PostCard
            url={(post as any).url}
            title={(post as any).frontmatter.title}
            description={(post as any).frontmatter.description}
            date={(post as any).frontmatter.date}
            tags={(post as any).frontmatter.tags}
          />
        ))
    }
  </div>

  <h1 class="text-7xl mt-10 text-center font-bold font-serif bg-gradient-to-r from-indigo-400 via-sky-500 to-indigo-400 bg-clip-text text-transparent py-2">Projects</h1>
  <div class="grid md:grid-cols-3 gap-4 mt-9">
    {
      projects.map((p) => (
        <ProjectCard
          title={p.title}
          description={p.description}
          url={p.url}
          tags={p.tags}
        />
      ))
    }
  </div>
</MainLayout>
