---
import MainLayout from "../layouts/MainLayout.astro";

import ProjectCard from "../components/ProjectCard.svelte";

import { projects } from "../scripts/project";


---

<MainLayout title="Projects | Pathfinder">
  <div class="text-center">
    <h1 class="font-bold text-3xl">Projects</h1>
    <p class="text-lg font-medium">
      These are my projects. Some (almost all) are built only by me, and some
      are from GIECAR-UFF.
    </p>
  </div>
    <div class="grid md:grid-cols-3 gap-4 mt-9">
    {projects.map(p => (
      <ProjectCard
        title={p.title}
        description={p.description}
        url={p.url}
        tags={p.tags}
      />
    ))}
  </div>
</MainLayout>
