---
import { Code } from "astro:components";

const { c, lang } = Astro.props;
---

<div class="not-prose">
  <Code code={c} lang={lang} theme="catppuccin-mocha" class="p-5 rounded-xl text-lg/[1.5]" />
</div>
